/html/node_modules
/html/public/hot
/html/public/storage
/html/storage/*.key
/html/vendor
/html/.env.backup
/html/.phpunit.result.cache
/html/docker-compose.override.yml
/html/Homestead.json
/html/Homestead.yaml
/html/npm-debug.log
/html/yarn-error.log
/html/.idea
/html/.vscode
/html/mysql/
/html/mysql
mysql/
./mysql/*
./mysql